version: 2.1
jobs:
  install:
    docker:
      # Use the same Docker base as the project
      - image: python:3.7.3-stretch
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python3 -m venv ~/venv
            . ~/venv/bin/activate
            cd app
            make install
      - save_cache:
          key: cache
          paths:
            - ~/venv
  lint:
    docker:
      - image: python:3.7.3-stretch
    steps:
      - checkout
      - restore_cache:
          keys: cache
      - run:
          name: run lint
          command: |
            . ~/repo/venv/bin/activate
            cd app
            # Install hadolint
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
            chmod +x /bin/hadolint
            make lint
  build-image:
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            cd app \
            && docker build -t linuxawy/ml-microservices .
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker push linuxawy/ml-microservices

  deploy:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: Deploying application to EKS
          command: |
            curl -o kubectl https://amazon-eks.s3.us-west-2.amazonaws.com/1.19.6/2021-01-05/bin/linux/amd64/kubectl && chmod u+s kubectl
             aws eks --region us-east-2 update-kubeconfig --name capstone
             sudo ./kubectl config use-context arn:aws:eks:us-east-2:572199075108:cluster/capstone
             sudo ./kubectl apply -f deployment.yml
             sudo ./kubectl get pods
             sudo ./kubectl get services
workflows:
  default:
    jobs:
      - install
      - lint:
          requires: [install]
      - build-image:
          requires: [lint]
      - deploy:
          requires: [build-image]